 body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
    text-align: center;
}

  div{
    margin: 0;
    padding: 0;
  }

.hero {
    background-image: url("/images/emma_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height:450px;
    width:100%; 
    text-align: center;
}

.distraction {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap:250px;
}
.fectar {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 100px;
}

.explainer {
    display: flex;
    justify-content: center;
   
}

.explainer img {
    height: 850;
    width: 650px;
   
}

h1 {
    font-size: 8em;
    font-family: open sans ;
    color: rgb(37, 160, 181);
    margin:0;
}

h2 {
    font-size: 3em;
    color: rgb(142, 14, 142);
    margin:0;
    font-family: open sans 
}    

h3 {
    font-size:3em;
    color:rgb(26, 154, 154);
    font-family: open sans 
    
}

img {
    height: 400px;
    width: 400px;
}
@media (max-width: 600px) {
    .distraction .explainer .fectar {
        gap:0;
}
}