 html
{
    width: 100%;
    height: 100%;

} 
 
 body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    display: flexbox;
    flex-direction: column;
    text-align: center;
    background-color: #0C1C52;
    overflow-x: hidden; 
    padding: 0px;
    margin: 0px;
}

  div{
    margin: 0;
    padding: 0;
  }

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("/images/emma_cdcpose.png");
    background-position:center;
    background-repeat: no-repeat;
    background-color:#0C1C52;
    height: 500px;
    width:100%; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
     

}

.distraction {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap:200px;
}
.fectar {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 200px;
}

.explainer {
    display: flex;
    justify-content: center;
   
}


h1 {
    font-size: 5em;
    font-family: open sans ;
    color: #ffffff;
    margin:0;
}

h2 {
    font-size: 2em;
    color: rgb(142, 14, 142);
    margin:0;
    font-family: open sans 
}                                                                                                                                          

h3 {
    font-size:2em;
    color:rgb(255, 255, 255);
    font-family: open sans 
    
}

p {
    color: white;
}

.qrcode {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 35%;
    padding-top: 15px;
}


.fectarapp{
    background-color: #46f24c; /* Green */
    border: none;
    border-radius: 35px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
  }
  .ar {
      padding-bottom: 45px;
  }

@media only screen and (max-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    img{
        size: 250X 250px;
    }
    h2, h1 {
        size: 2em;
    }
    .qrcode {
        display: none;
    }
    .share {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 110%;
      }
     .explainer img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 107%;
 
     } 
}